node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
dist
build
*.tsbuildinfo
.env
.env.local
.env._.local
.git
.gitignore
.gitattributes
Dockerfile
.dockerignore
docker-compose.yml
_.Dockerfile
_.md
README.md
docs
LICENSE
.vscode
.idea
_.swp
_.swo
_~
coverage
.nyc_output
_.test.ts
_.test.tsx
_.spec.ts
_.spec.tsx
**tests**
**mocks**
logs
\*.log
.tmp
temp
tmp
public/mockServiceWorker.js
